<!-- <br /> -->
<div class="hero">  
  <div class="container">
    <footer class="footer">
      <p class="text-white font-weight-bold">
        &copy; NodeJS Test Application 2022
      </p>
    </footer>
  </div>
  </div>  

  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/jquery.sticky.js"></script>
  <script src="../static/js/main.js"></script>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/index.js') }}"
  ></script>
</div>
