<%- include("./partials/header"); -%>
<div class="hero">
  <p class="hero-space"></p>
  <div class="container">
    <h1 class="font-weight-bold" align="center">Resources</h1>
    <div align="center" class="container">
      <img
        src="../../assets/image/imageresource-large.jpg"
        th:src="@{/assets/imageresource-large.jpg}"
        alt="large image resource"
        height="500"
      />
    </div>
  </div>
</div>
<%- include("./partials/footer"); -%>
