<%- include("./partials/header"); -%>
<div class="hero">
  <p class="hero-space"></p>

  <div class="container">
    <h1 class="font-weight-bold" align="center">ORM</h1>
    <form method="POST">
      <div align="center">
        <button
          type="submit"
          class="btn btn-primary font-weight-bold button-orange"
          name="execute"
        >
          MASTER APP
        </button>
      </div>
    </form>
  </div>
</div>
<%- include("./partials/footer"); -%>
